{% extends "breeder-base.html" %}
{% block content %}
<!-- Start image upload section -->
<section>
    <div class="container">
        <img id="image-preview" class="cat-image" alt="Preview of your selected cat image">
        <button data-target="image-selection-modal" class="btn modal-trigger">Choose Image</button>
        <button id="upload-btn">Upload Image</button>
    </div>
</section>
<!-- End image upload section -->

<!-- Start file chooser section -->
<section>        
    <!-- Start image selection modal -->
    <!-- Uses Materialize modal -->
    <div id="image-selection-modal" class="modal">
        <div class="modal-content">
            <h4>Select Your Cat Image</h4>
            <p>Please select an image of your cat to use for identifying their phenotype.</p>
            <form id="upload-form" method="POST" action="{{ url_for("breeders_bp.get_results") }}" enctype="multipart/form-data">
                <input id="image-input" name="image" type="file">
            </form>
        </div>
        <div class="modal-footer">
            <button id="select-image-btn" href="#!" class="waves-effect waves-green btn-flat">Select</button>
        </div>
    </div>
    <!-- End image selection modal -->
</section>
<!-- End file chooser section -->

<!-- Start how to use blurb-->
<section>
    <p>
        Insert blurb here 
    </p>
</section>
<!-- End how to use blurb-->

<!-- Start register event handlers -->
<script>
    window.onload = function() { initMaterialize(); };
    document.getElementById("select-image-btn").onclick = function() { previewSelectedCatImage(); };
    document.getElementById("upload-btn").onclick = function() { submitUploadForm(); };
</script>
<!-- End register event handlers -->
{% endblock %}