{% extends "admin-base.html" %}
{% block content %}
<!-- Start import spinner-->
<section>
    <!-- Start spinner modal -->
    <!-- Uses Materialize modals -->
    <div id="spinner-modal" class="modal">
        <div class="modal-content">
            <div class="spinner">
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
            </div>
            <p>Might as well get a saucer of milk. We're just impawting your training images...</p>
        </div>
    </div>
    <!-- End spinner modal -->
</section>
<!-- End import spinner-->

<!-- Start confirmation-->
<section>
    <div>
        <p>Your training images were successfully imported.</p>
    </div>
</section>
<!-- End confirmation-->
{% endblock %}