{% extends "admin-base.html" %}
{% block content %}
<!-- Start upload spinner-->
<section>
    <!-- Start spinner modal -->
    <!-- Uses Materialize modals -->
    <div id="spinner-modal" class="modal">
        <div class="modal-content">
            <div class="spinner">
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
            </div>
            <p>Want your prediction model to be purrfect? Please wait while we upload your training images...</p>
        </div>
    </div>
    <!-- End spinner modal -->
</section>
<!-- End upload spinner-->

<!-- Start confirmation-->
<section>
    <div>
        <p>Your training images were successfully uploaded.</p>
    </div>
</section>
<!-- End confirmation-->
{% endblock %}