{% extends "admin-base.html" %}
{% block content %}
<!-- Start upload spinner-->
<section>
    <!-- Start spinner modal -->
    <!-- Uses Materialize modals -->
    <div id="spinner-modal" class="modal">
        <div class="modal-content">
            <div class="spinner">
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
            </div>
            <p>Want your prediction model to be purrfect? Please wait while we upload your training images...</p>
        </div>
    </div>
    <!-- End spinner modal -->
</section>
<!-- End upload spinner-->

<!-- Start error modal -->
<!-- Uses Materialize modals -->
<section>
    <div id="error-modal" class="modal">
        <div class="modal-content">
            <h4>Error</h4>
            <p>An error occurred while attempting to upload training images. Please try again later...</p>
        </div>
    </div>
</section>
<!-- End error modal -->

<!-- Start confirmation-->
<section>
    <div class="container">
        <p>
            The following training images were successfully uploaded:
            <ul id="upload-success"></ul>
        </p>
        <p>
            The following files were ignored as they appeared not to contain valid training images:
            <ul id="upload-ignored"></ul>
        </p>
    </div>
</section>
<!-- End confirmation-->

<!-- Begin initialise page action on window load -->
<script>
    function initPage() {
        uploadTrainingImages("{{ b64_zip_data }}");
    };
</script>
<!-- End initialise page action on window load -->
{% endblock %}