{% extends "admin-base.html" %}
{% block content %}
<!-- Start labelling spinner-->
<section>
    <!-- Start spinner modal -->
    <!-- Uses Materialize modals -->
    <div id="spinner-modal" class="modal">
        <div class="modal-content">
            <div class="spinner">
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
            </div>
            <p>Take a spot by the fire. We're just applying your training labels...</p>
        </div>
    </div>
    <!-- End spinner modal -->
</section>
<!-- End labelling spinner-->

<!-- Start error modal -->
<!-- Uses Materialize modals -->
<section>
    <div id="error-modal" class="modal">
        <div class="modal-content">
            <h4>Error</h4>
            <p>An error occurred while attempting to label training images. Please try again later...</p>
        </div>
    </div>
</section>
<!-- End error modal -->

<!-- Start confirmation-->
<section>
    <div>
        <p>Your training images were successfully labelled.</p>
    </div>
</section>
<!-- End confirmation-->
{% endblock %}