{% extends "admin-base.html" %}
{% block content %}
<!-- Start import spinner-->
<section>
    <!-- Start spinner modal -->
    <!-- Uses Materialize modals -->
    <div id="spinner-modal" class="modal">
        <div class="modal-content">
            <div class="spinner">
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
            </div>
            <p>Might as well get a saucer of milk. We're just impawting your training images...</p>
        </div>
    </div>
    <!-- End spinner modal -->
</section>
<!-- End import spinner-->

<!-- Start error modal -->
<!-- Uses Materialize modals -->
<section>
    <div id="error-modal" class="modal">
        <div class="modal-content">
            <h4>Error</h4>
            <p>An error occurred while attempting to import training images. Please try again later...</p>
        </div>
    </div>
</section>
<!-- End error modal -->

<!-- Start confirmation-->
<section>
    <div class="container centered">
        <div class="row">
            <p class="col s12">Your training images were successfully imported.</p>
        </div>

        <div class="row">
            <div class="col s12">
                <button id="search-more" class="btn">Import More</button>
            </div>
        </div>
    </div>
</section>
<!-- End confirmation-->

<!-- Begin initialise page action on window load -->
<script>
    function initPage() {
        importTrainingImages({{ url_list|safe }});
        document.getElementById("search-more").onclick = function() {
            window.location = "{{ url_for("admin_bp.import_images") }}";
        }
    };
</script>
<!-- End initialise page action on window load -->
{% endblock %}