{% extends "admin-base.html" %}
{% block content %}
<!-- Start admin instructions -->
<section>
    <div class="container">
        <div class="row">
            <p>
                Welcome to the Cat Identifier Admin Portal. The purpose of the Cat Identifier is to provide an application to
                British shorthair cat breeders and pet owners that enables them to find out the phenotype of their cat by uploading
                an image.
            </p>
            <p>
                This Admin Portal app allows you, as an authorised model administrator, to manage the machine learning model which drives
                the recognition of cat phenotypes from images uploaded by breeders or pet owners. It is your responsibility to ensure that
                the machine learning model provides high-quality predictions for breeders that correctly identify the phenotype of their cat.
            </p>
            <p>
                To achieve this, you will need to collate a sizeable set of training data which meets the following criteria:
                <ul>
                    <li>
                        <b>A sizeable data set:</b> The training set should contain enough samples to allow the model to learn to
                        correctly predict all of the different colours, patterns, tabby and colourpoint traits that are supported by
                        the application at this point.
                    </li>
                    <li>
                        <b>A balanced data set:</b> The number of training images provided should be roughly equal across all phenotypes
                        supported by the application.
                    </li>
                    <li>
                        <b>An accurate data set:</b> To train the machine learning model you will also need to ensure all images are labelled.
                        It is important that the labelling is accurate, otherwise the machine learning model will learn to recognise the wrong phenotypes.
                    </li>
                </ul>
            </p>
            <p>
                To help you build and label the training data set, the Admin Portal provides the following features:
                <ul>
                    <li>Build the training data set by uploading images from a Zip file, or by importing images from Google.</li>
                    <li>Review predictions made by the Breeder App so they can be imported as new training images.</li>
                    <li>Label training images in bulk by selecting which unlabelled images a label should apply to.</li>
                    <li>Dashboards showing the performance of the current model, and the balance of images across different labels.</li>
                </ul>
            </p>
            <p>
                You are also in control of when to start the training process, and can check the status of training when in progress.
            </p>
            <p>
                To get started, just choose a feature from the nav bar at the top of this page.
            </p>
        </div>
    </div>
</section>
<!-- End admin instructions -->
{% endblock %}