{% extends "admin-base.html" %}
{% block content %}
<!-- Start spinner-->
<section>
    <!-- Start spinner modal -->
    <!-- Uses Materialize modals -->
    <div id="spinner-modal" class="modal">
        <div class="modal-content">
            <div class="spinner">
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
            </div>
            <p>Fetching unlabelled training images...</p>
        </div>
    </div>
    <!-- End spinner modal -->
</section>
<!-- End spinner-->

<!-- Start error modal -->
<!-- Uses Materialize modals -->
<section>
    <div id="error-modal" class="modal">
        <div class="modal-content">
            <h4>Error</h4>
            <p>An error occurred while attempting to retrieve training images. Please try again later...</p>
        </div>
    </div>
</section>
<!-- End error modal -->

<section>
    <!-- Start form instructions -->
    <h3>Label training images</h3>
    <p>
        The following images have not yet been labelled so will not be included when training the
        cat identifier model. Please set the labels below, and hten choose which images the label should
        apply to. Finally, press the on the right to apply the specified label to the selected images.
    </p>
    <!-- End form instructions -->

    <!-- Start labelling form -->
    <form action="confirm-import.html" method="POST">
        <!-- Start label specification section -->
        <div class="container">
            <div class="row">
                <div class="col s2">
                    <label>
                        <input name="is_cat" type="checkbox">
                        <span>Is cat?</span>
                    </label>
                </div>

                <div class="input-field col s2">
                    <select name="colour">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="Black">Black</option>
                        <option value="Blue">Blue</option>
                        <option value="Chocolate">Chocolate</option>
                        <option value="Lilac">Lilac</option>
                        <option value="Cinnamon">Cinnamon</option>
                        <option value="Fawn">Fawn</option>
                    </select>
                    <label>Colour</label>
                </div>
                
                <div class="col s2">
                    <label>
                        <input name="is_tabby" type="checkbox">
                        <span>Is tabby?</span>
                    </label>
                </div>

                <div class="input-field col s2">
                    <select name="pattern">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="Self">Self</option>
                        <option value="Bicolour">Bicolour</option>
                        <option value="Van">Van</option>
                    </select>
                    <label>Pattern</label>
                </div>
                
                <div class="col s2">
                    <label>
                        <input name="is_pointed" type="checkbox">
                        <span>Is pointed?</span>
                    </label>
                </div>

                <div class="col s2">
                    <input type="submit" value="Apply">
                </div>
            </div>
            <!-- End label specification section -->

            <!-- Start image selection section -->
            <div id="image-grid">
            </div>
            <!-- End image selection section -->
        </div>
    </form>
    <!-- End labelling form form -->
</section>
{% endblock %}