{% extends "admin-base.html" %}
{% block content %}
<!-- Start search form section -->
<section>
    <!-- Start form instructions -->
    <h3>Please enter a search term to find training data</h3>
    <p>The search term will be used to retrieve potentially-relevant images for training from Google Images.</p>
    <!-- End form instructions -->

    <!-- Start search form -->
    <form action="{{ url_for("admin_bp.import_images") }}" method="GET">
        <input name="query" type="text">
        <input type="submit" value="Search">
    </form>
    <!-- End search form -->
</section>
<!-- End search form section -->
{% endblock %}