{% extends "admin-base.html" %}
{% block content %}
<!-- Start upload spinner-->
<section>
    <!-- Start spinner modal -->
    <!-- Uses Materialize modals -->
    <div id="spinner-modal" class="modal">
        <div class="modal-content">
            <div class="spinner">
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
            </div>
            <p>Retrieving training images from search. Please wait...</p>
        </div>
    </div>
    <!-- End spinner modal -->
</section>
<!-- End upload spinner-->

<!-- Start error modal -->
<!-- Uses Materialize modals -->
<section>
    <div id="error-modal" class="modal">
        <div class="modal-content">
            <h4>Error</h4>
            <p>An error occurred while attempting to search for training images. Please try again later...</p>
        </div>
    </div>
</section>
<!-- End error modal -->

<!-- Start image selection form section -->
<section>
    <div class="centered">
        <div class="row">
            <div class="col s12">
                <!-- Start form instructions -->
                <p>You are searching for images matching the query "{{ query }}".</p>
                <p>
                    Please choose which images you would like to add to your training data, and 
                    then click "Import".
                </p>
                <!-- End form instructions -->
                <div class="row">
                    <form
                        class="col s12 m8 offset-m2"
                        action="{{ url_for("admin_bp.import_images") }}"
                        method="POST">
                        <input id="query" name="query" value="{{ query }}" type="hidden">
                        <!-- Start submit button -->
                        <div class="row">
                            <input type="submit" value="Import" class="btn">
                        </div>
                        <!-- End submit button -->

                        <!-- Start search results -->
                        <div id="training-images" class="row">
                        </div>
                        <!-- End search results -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End image selection form section -->

<!-- Begin initialise page action on window load -->
<script>
    function initPage() {
        getSearchResults("{{ query }}");
    };
</script>
<!-- End initialise page action on window load -->
{% endblock %}