{% extends "admin-base.html" %}
{% block content %}
<!-- Start upload form section -->
<section>
    <div class="container centered">
        <!-- Start upload form -->
        <div class="row">
            <form
                class="col s12 m8 offset-m2"
                action="{{ url_for("admin_bp.upload_images") }}"
                method="POST"
                enctype="multipart/form-data">
                <div class="card-panel">
                    <div class="row">
                        <div col="col s12">
                            <!-- Start form instructions -->
                            <p>Please select a file containing images to use as training data</p>
                            <p>
                                The file should be a Zip file containing .png or .jpg files that will be used
                                as images for training.
                            </p>
                            <!-- End form instructions -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <span class="btn btn-file">
                                Choose a Zip file<input id="file" name="file" type="file" class="validate" accept=".zip">
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <input id="submit" type="submit" value="Upload" class="col s12 btn hidden">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- End upload form -->
    </div>
</section>
<!-- End upload form section -->

<!-- Set onchange event for file input -->
<script>
    document.getElementById("file").onchange = function() { displayFormSubmitButton(); };
</script>
{% endblock %}