/* Fonts */
h1, h2, h3, h4, p, span, div {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-size: 14pt;
}

h4 { 
  font-size: 12pt;
}

/* Visibility */
.hidden {
  display: none;
}

/* Header and Footer */
h1 {
    font-size: 24pt;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    color: #ffffff;
    background-color: #a75656;
    height: 75px;
    width: 100%;
    margin-bottom: 33px;
    justify-content: center;
    align-items: center;
}

/* Flashes */
.flashes {
  border: solid;
  border-width: 2px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  background-color:#cacccf;
  height: 40px;
  font-weight: bold;
}

/* Buttons */
.btn {
    background-color: #556ca7;
    margin: 5px;
}

.btn:hover, .btn:focus {
  background-color: #3e785b;
}

.btn:active {
  background-color: #a75656;
}

/* File Inputs */
/* Adapted from: https://fireflysemantics.medium.com/styling-a-file-input-button-with-materialize-ad9dd5326038 */

.submit-btn {
  width: 100%;
}

.btn-file {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/* Phenotype Labels */
#phenotype-text {
  text-transform: lowercase;
  margin-top: 10px;
  font-weight: bold;
}

#phenotype-text::first-letter {
  text-transform: uppercase;
}

/* Cat Result */
#cat-result {
  border: none;
  border-color: #ef7b7b;
  border-radius: 2px;
  border-width: 2px;
}

#source-image, #phenotype-image {
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
  border: solid;
  border-width: 1px;
  border-color: #ef7b7b;
}

/* Centering */
.centered {
    text-align: center;
}

/* Cat images */
.cat-image {
    width: 150px;
    height: 150px;
}

/* Preloader. Code from https://codepen.io/kevinjannis/pen/KwJvpa */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  section.preloader {
    padding: 40px 0;
  }
  
  div.spinner {
    -moz-animation: rotate 10s infinite linear;
    -webkit-animation: rotate 10s infinite linear;
    animation: rotate 10s infinite linear;
    position: relative;
    display: block;
    margin: auto;
    width: 142px;
    height: 142px;
  }
  div.spinner i {
    -moz-animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
    -webkit-animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
    animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
    -moz-transform-origin: 50% 100% 0;
    -webkit-transform-origin: 50% 100% 0;
    transform-origin: 50% 100% 0;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    border: solid 6px transparent;
    border-bottom: none;
  }
  div.spinner i:nth-child(1) {
    -moz-animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
    animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
    width: 44px;
    height: 22px;
    margin-top: -22px;
    margin-left: -22px;
    border-color: #ef7b7b;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
  }
  div.spinner i:nth-child(2) {
    -moz-animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
    animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
    width: 58px;
    height: 29px;
    margin-top: -29px;
    margin-left: -29px;
    border-color: #f070a1;
    border-top-left-radius: 42px;
    border-top-right-radius: 42px;
  }
  div.spinner i:nth-child(3) {
    -moz-animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
    animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
    width: 72px;
    height: 36px;
    margin-top: -36px;
    margin-left: -36px;
    border-color: #c491ef;
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
  }
  div.spinner i:nth-child(4) {
    -moz-animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
    animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
    width: 86px;
    height: 43px;
    margin-top: -43px;
    margin-left: -43px;
    border-color: #799aef;
    border-top-left-radius: 54px;
    border-top-right-radius: 54px;
  }
  div.spinner i:nth-child(5) {
    -moz-animation-timing-function: cubic-bezier(0.09, 1.5, 0.6, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 1.5, 0.6, 0.03);
    animation-timing-function: cubic-bezier(0.09, 1.5, 0.6, 0.03);
    width: 100px;
    height: 50px;
    margin-top: -50px;
    margin-left: -50px;
    border-color: #7befb5;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
 
  @-moz-keyframes rotate {
    to {
      -moz-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rotate {
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotate {
    to {
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }